* {
    scroll-behavior: smooth;
    color: #000;
    font-family: 'Noto Sans Display', sans-serif;
}
body {
    background: #fffcf7;
    // @media all and (max-width:991px) {
    //     background: url("../img/background-mobile.png");
    //     background-position: 100% 50% !important;
    // }
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    // @media all and (max-width:1560px) {
    //     padding: 0 40px;
    // }
    // @media all and (max-width:991px) {
    //     padding: 0 20px;
    // }
}