* {
    scroll-behavior: smooth;
    color: #1a1210;
    font-family: 'Noto Sans Display', sans-serif;
}
body {
    background: #fffcf7;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}