.front-page {
    &__in {
        display: flex;
    }
    &__left {
        background: url("../img/background2.jpg") 0 -85px/cover no-repeat;
        width: 66%;
        height: 100%;
        padding: 50px 50px 50px 50px;
        h2 {
            font-family: 'Cormorant Infant';
            color: #1a1210;
            font-size: 84px;
            font-weight: bold;
            text-align: center;
            margin-top: 0;
            margin-bottom: 50px;
        }
    }
    &__right {
        width: 29%;
        background: url("../img/photo.jpg") 0 0/cover no-repeat;
        position: relative;
        &-link {
            font-size: 38px;
            color: #fff;
            text-align: center;
            margin-top: 78px;
            display: block;
            text-decoration: none;
        }
        &-lang {
            font-size: 24px;
            color: #fff;
            position: absolute;
            top: 20px;
            right: 77px;
        }
        &-lang a {
            text-decoration: none;
            color: #fff;
        }
        &-text {
            color: #fff;
            font-size: 107px;
            line-height: 129px;
            position: absolute;
            bottom: 29%;
            left: -51px;
            font-family: 'Gloock', serif;
            transform: rotate(270deg);
        }
        &-socials {
            position: absolute;
            bottom: 42px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
        }
        &-socials a:not(:last-child) {
            margin-right: 5%;
        }
    }
}
.front-page-main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 130px;
    &__item {
        padding: 0 28px 28px 0;
    }
    &__left {
        width: 45%;
    }
    &__right {
        width: 35%;
    }
    &__slider {
        width: 50%;
    }
    &__arrows .glide__arrow{
        position: absolute;
        top: 41%;
        left: -100px;
        font-size: 0;
        width: 60px;
        height: 64px;
        background: url("../img/arrow.png") 40% 50% no-repeat, rgba(255, 255, 255, 0.8);
        background-clip: content-box, padding-box !important;
        // background: no-repeat padding-box/40% 50% url("../img/arrow.png"), rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        border: 8px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        cursor: pointer;
        -webkit-box-shadow: 8px 8px 7px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 8px 8px 7px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 8px 8px 7px 4px rgba(0, 0, 0, 0.2);
        
    }
    &__arrows .glide__arrow--right {
        left: auto;
        right: -76px;
        transform: rotate(180deg);
        -webkit-box-shadow: -8px -8px 7px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -8px -8px 7px 4px rgba(0, 0, 0, 0.2);
        box-shadow: -8px -8px 7px 4px rgba(0, 0, 0, 0.2);
    }
    &__item {
        img {
            border-radius: 100px;
            border: 8px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            -webkit-box-shadow: 9px 9px 16px 10px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 9px 9px 16px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 9px 9px 16px 10px rgba(0, 0, 0, 0.4);
            // max-width: 486px;
            width: 100%;
            min-height: 493px;
            height: 100%;
            object-fit: cover;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 32px;
        margin-bottom: 0;
    }
    &__list li a {
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 400;
        font-size: 38px;
        text-decoration: none;
    }
    &__list li {
        max-width: 277px;
        min-width: 277px;
        width: 100%;
        padding: 11px 0 18px 0;
        border-radius: 27px;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        box-sizing: border-box;
        -webkit-box-shadow: 3px 10px 12px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 3px 10px 12px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 3px 10px 12px 5px rgba(0, 0, 0, 0.4);
    }
    &__list li:not(:last-child) {
        margin-bottom: 46px;
    }
}
.front-page-bottom-menu {
    &__in {
        padding: 0 30px;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 110px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding: 18px;
        border-radius: 27px;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        box-sizing: border-box;
        -webkit-box-shadow: 3px 10px 12px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 3px 10px 12px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 3px 10px 12px 5px rgba(0, 0, 0, 0.4);
    }
    &__list li a {
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 25px;
        text-decoration: none;
        color: #121212;
        text-align: center;
    }
    &__list li {
        // width: 20%;
        &:not(:last-child) {
            margin-right: 5%;
        }
    }
}
.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;margin:0;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl};